@font-face { 
    font-family: 'Oswald'; 
    src: url('fonts/Oswald/Oswald-Regular.ttf');
}
@font-face {
    font-family: 'Open Sans'; 
    src: url('fonts/Open_Sans/OpenSans-Light.ttf');
}

body {
    margin:0;
    background:#003366;
}

#web-header {
    min-height:400px;
    background-image: url(../../images/img-header.png);
    background-position: center;
}

#web-header img {
    padding-top: 20px;
}

#menu-header {
    padding-bottom: 20px;
}

#menu-header p {
    text-align: center;
    font-family: 'Open Sans';
    font-size: 150%;
    padding-top: 0;
}

#menu-header img {
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

#menu-header img:hover {
    opacity: 0.4;
}

#icon-footer img {
    opacity: 1;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

#icon-footer img:hover {
    opacity: 0.4;
}

.supertitulo, .titulo, .subtitulo, .parrafo, .diminuto {
    font-family: 'Open Sans';
    color:#003366;
}

.supertitulo {
    font-size: 375%;
}

.titulo {
    font-size: 300%;
}

.subtitulo {
    font-size: 200%;
}

.parrafo {
    font-size: 150%; 
}

.diminuto {
    font-size: 90%;
}

.modal-body {
    background-image: url('../../images/fondo-acddes.png');
    background-position: center;
    background-repeat: no-repeat;
    color: #003366;
}

.body-temp {
    text-align: center;
}

.arco-iris {
    height: 15px;
}

.celeste {
    background: #4377DD;
    color: #4377DD;
}

.naranja {
    background: #FE8439;
    color: #FE8439;
}

.verde {
    background: #29C57C;
    color: #29C57C;
}

.amarillo {
    background: #DADB25;
    color: #DADB25;
}

.rosado {
    background: #FF59AD;
    color: #FF59AD;
}

.blanco {
    background:white;
    color: #003366;
}

.azul {
    background: #003366;
    color:white;
}

.redes-footer {
    font-family: 'Open Sans';
    font-size: 110%;
    color: white;
}

.redes-footer a, #menu-header a{
    color: white;
}

.redes-footer a:link #menu-header a:link{
    color: white;
    text-decoration: none;
}

.redes-footer a:visited, #menu-header a:visited {
    color: white;
    text-decoration: none;
}

.redes-footer a:hover, #menu-header a:hover {
    color: #4377DD;
    text-decoration: none;
}

.redes-footer a:active, #menu-header a:active {
    color: white;
    text-decoration: none;
}

#carousel-frases .carousel-indicators li{
    background-color: white;
}

#carousel-frases .carousel-indicators .active {
    background-color: #003366;
}

.carousel-inner {
    height: 280px;
}

.div-frase {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid;
    border-top: solid;
    border-color: #003366;
}




/* * * * * * * * * NEWS * * * * * * */
#news-header {
    height: 75px;
    background:#003366;
}
#news-header img {
    max-height: 65px;
    padding-top: 5px;
}

/** BOTON LENGUAJE **/
#change-language {
    background-color: white;
    color: #003366;
    height: 34px;

    position: fixed;
    left: -87px;
    top: 18px;
    z-index: 100;
    font-size: 120%;
    padding: 3px;
    font-family: 'Open Sans';

    -webkit-animation: idiomas 2s infinite; /* Chrome, Safari, Opera */
    animation: idiomas 2s infinite;

    -webkit-transition: left 0.8s; /* Safari */
    transition: left 0.8s;
}

#change-language a {
    color: #003366;
}

#change-language a:link{
    color: #003366;
    text-decoration: none;
}

#change-language a:visited {
    color: #003366;
    text-decoration: none;
}

#change-language a:hover {
    color: #4377DD;
    text-decoration: none;
}

#change-language a:active {
    color: #003366;
    text-decoration: none;
}



@-webkit-keyframes idiomas {
    25% {background-color: white;}
    75% {background-color: #DADB25;}
    100% {background-color: white;}
}

@keyframes idiomas {
    25% {background-color: white;}
    75% {background-color: #DADB25;}
    100% {background-color: white;}
}

#change-language:hover, #change-language:focus {
    left: 0px;
}

/* Responsive Screen */
@media screen and (max-width: 768px) and (orientation: landscape) {
    #web-header {
        min-height:250px;
        background-image: url(../../images/img-header.png);
        background-position: center;
    }

    .supertitulo, .titulo, .subtitulo, .parrafo, .diminuto {
        font-family: 'Open Sans';
        color:#003366;
    }

    .supertitulo {
        font-size: 300%;
    }

    .titulo {
        font-size: 250%;
    }

    .subtitulo {
        font-size: 185%;
    }

    .parrafo {
        font-size: 125%;
    }

    .diminuto {
        font-size: 82%;
    }
}

@media screen and (max-width: 360px) and (orientation: portrait){
    #web-header {
        min-height:200px;
        background-image: url(../../images/img-header.png);
        background-position: center;
    }

    .supertitulo, .titulo, .subtitulo, .parrafo, .diminuto {
        font-family: 'Open Sans';
        color:#003366;
    }

    .supertitulo {
        font-size: 260%;
    }

    .titulo {
        font-size: 200%;
    }

    .subtitulo {
        font-size: 166%;
    }

    .parrafo {
        font-size: 100%;
    }

    .diminuto {
        font-size: 75%;
    }
}